<h1>Coaching</h1>
<p>Ask your coach</p>

<form action="/answer" method="get">
  <input type="text" id="question" name="query" placeholder="What time is it?">
  <input type="submit" value="Go on!">
</form>

